.listItem {
	margin: 10px;
	padding: 5px;
	width: 240px;
	border: 1px solid white;
	text-shadow: black 0.2em 0.1em 0.2em;
	background-color: #BD6D45;
}

.hidden {
    display:none !important
}

#logo{
    position:absolute;
    right:0;
}

#headerText{
    display:inline;
}

#headerWrapper{
    padding-bottom: 25px;
}


/* ARTIST DETAIL PAGE STYLES */

.entryTitle{
    font-size: 25px;
    text-align: center;
}

.entryLabel{
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.entry{
    display: block;
}

.entryDetail{
    display: block;
    font-size: 10px;
}

.listViewThumb {
    left: 20px;
    top: 35px;
}
